.home{
    min-height: 100vh;
    height: auto;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    &-search{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    input{
        padding: .625rem;
        outline: none;
        border: .125rem solid #ccc;
        width: 18.75rem;
        font-size: 1rem;
        border-radius: .5625rem;
        margin: 1.25rem 0rem;
    }

    button{
        font-size: 1.125rem;
        border: .125rem solid #ccc;
        padding: .3125rem;
        color: #fff;
        background: #f3b542;
        margin-left: .625rem;
        border-radius: .3125rem;
        outline: none;
    }
    .greetings{
        font-size: 1.5rem;
        text-align: center;

        p{
            font-size: 1rem;
            text-align: center;
        }
    }

    img{
        width: 18.75rem;
        margin: .625rem;
        border: .125rem solid #ccc;
        border-radius: .375rem;
        transition: all .5s ease;
    }

    .search-result{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;

        .meal-result{
            text-align: center;
        }
    }
}