.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #000;
    color: #fff;
    height: 8vh;
    border-top: 2px solid #ccc;

    p{
        font-size: 1.125rem;
        span{
            color: #f3b542;
        }
        a{
            text-decoration: none;
        }
    }
}