.random{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #000;
    color: #fff;
    cursor: pointer;

    img{
        width: 18.75rem;
        border: .125rem solid #ccc;
        transition: all .5s ease;

        &:hover{
            transform: scale(1.1);
        }
    }

    .random-meals{
        .meal-grid{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 1.125rem;

            button{
                font-size: 1rem;
                color: #fff;
                background: #000;
                margin-top: .9375rem;
                padding: .625rem;
                border: .125rem solid #ccc;
                border-radius: .5rem;
                outline: none;
                cursor: pointer;
            }
        }

        .meal-instructions{
            text-align: center;
            padding: .625rem;

            p{
                font-size: 1rem;
            }
        }
    }
}